* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "CustomFont";
  src: url("utils/SFProDisplay-Regular.woff") format("woff");
}

body,
html {
  font-family: "CustomFont", sans-serif;
  overflow-x: hidden;
}

body {
  background-image: url("/utils/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 80%;
  margin: 3%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.content-container {
  position: relative;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.column {
  width: auto;
  max-width: 100%; /* Allow columns to use full width available */
  flex: 1 1 45%; /* Allow columns to grow and shrink, with a basis of 45% */
  padding: 20px;
  margin: 15px; /* Space around columns */
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-gradient {
  background: linear-gradient(to right, #040591, #0c79fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 30px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.column p {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 500;
}

.card-button {
  margin-top: auto;
  padding: 10px 20px;
  border-radius: 20px;
  background: linear-gradient(to right, #040591, #0c79fc);
  color: white;
  border: none;
  font-size: 13px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.card-button:hover {
  background: linear-gradient(to right, #3b71b2, #080c94);
}

.footer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5%;
}

.social-icon img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.social-icon img:hover {
  transform: scale(1.2);
}

.footer-text {
  margin: 2%;
  font-size: 11px;
}
